@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    font-family: 'Poppins', sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    background-color: #708992;
    color: #f1f1f1;
    padding: 30px;
}
.title{
    text-align: center;
    color: black;
    font-size: 3rem;
}
#sub-title{
    text-align: center;
    margin: 10px auto;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    text-align: center; 
}
#image{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px 6px #000000;
}
#tribute-info-head{
    text-align: center;
    color: black;
}
#tribute-info-link{
    font-size: 1rem;
    margin: 40px auto;
    text-align: center;
}
#tribute-info-link a{
    text-decoration: none;
    color: aqua;
}
#tribute-info-link a:hover{
    color: black;
}
.tribute-info-list{
    list-style: none;
}
.tribute-info-list li{
   margin-top: 20px;
}

.text-bold{
    color: black;
}

blockquote {
    font-style: oblique;
    max-width: 545px;
    margin:50px auto;
    text-align: left;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    #main {
        margin: 0;
      }
      #img-caption {
        font-size: 1.4rem;
      }
  }